.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(216, 213, 213);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
}

.search-bar {
  flex: 1;
  height: 36px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 12px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 16px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  background-color: rgb(247, 247, 247);
  margin-left: -1px;
  margin-right: 8px;
  position: relative;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: rgba(235, 235, 235, 0.849);
}

.search-button .tooltip {
  position: absolute;
  background-color: rgba(87, 87, 87, 0.849);
  color: white;
  padding: 10px 6px;
  font-size: 12px;
  top: 55px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.search-button:hover .tooltip {
  opacity: 1;
}

.search-image {
  height: 24px;

}

.voice-button {
  height: 40px;
  width: 40px;
  background-color: rgb(247, 247, 247);
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.voice-button .tooltip {
  white-space: nowrap;
  position: absolute;
  background-color: rgba(87, 87, 87, 0.849);
  color: white;
  padding: 10px 6px;
  font-size: 12px;
  top: 55px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.voice-button:hover .tooltip {
  opacity: 1;
}

.voice-image {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-container,
.apps-container,
.notifications-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container .tooltip,
.apps-container .tooltip,
.notifications-container .tooltip {
  white-space: nowrap;
  position: absolute;
  background-color: rgba(87, 87, 87, 0.849);
  color: white;
  padding: 10px 6px;
  font-size: 12px;
  top: 50px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.notifications-container {
  position: relative;
}

.notification-count {
  position: absolute;
  background-color: rgb(216, 4, 4);
  color: white;
  top: -3px;
  right: -3px;
  font-size: 10px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  text-align: center;
  padding: 1.5px 1.5px;
}

.upload-icon,
.apps-icon,
.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.current-user {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}