@media (max-width: 1200px) {
  .side-bar {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 101;
    padding-top: 5px;
  }


  .sidebar-link {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: lightgray;
  }

  .sidebar-link img {
    height: 25px;
    margin-bottom: 5px;
  }

  .side-bar div {
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .side-bar {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 118px;
    z-index: 101;
    padding-top: 5px;
  }


  .sidebar-link {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 8px;
  }

  .sidebar-link:hover {
    background-color: lightgray;
  }

  .sidebar-link img {
    height: 25px;
    margin-right: 6px;
  }

  .side-bar div {
    font-size: 12px;
  }
}